{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block body %}
<div class="whitespace"></div>
<div class="whitespace"></div>
<form method="POST">
    <h3 style="margin: 20px; text-align: center;">Login</h3>
    <div class="form-group" style="margin: 20px;">
      <label for="username">Username</label>
      <input
        type="username"
        class="form-control"
        id="username"
        name="usernmane"
        placeholder="Enter username"
      />
    </div>
    <div class="form-group" style="margin: 20px;">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button style="margin: 20px;" type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}